<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="images/foto.png"/>
    <p><b>Autora: </b><%= author %><br/></p>      
  </body>
</html>
